{% extends "layout.html" %}

{% block title %}
    Add Recipe
{% endblock %}

{% block body %}
    <div class="title">
        <h2 class="recipe-heading"> Add a new recipe! </h2>
    </div>

    <form class="row g-3 offset-1" method="post" enctype="multipart/form-data" action="{{ url_for('addrecipe') }}">
        
        <div class="col-10 normal-forms">
            <label for="inputName" class="form-label">Recipe Name</label>
            <input name="name" type="text" class="form-control" id="inputAddress" placeholder="Name" required>
        </div>
        
        <!-- ingredients + steps -->
        <div id="ingredients-container">
            <div class="col-10">
                <label for="inputIngredients" class="form-label">Ingredients</label>
                <div id="ingredient-fields">
                    <!-- added ingredient fields will go here -->
                </div>
                <button type="button" class="add-recipe-btn" onclick="addIngredientField()"> <span class="charm--plus"></span> </button>
            </div>
            
        </div>

        <div class="col-10">
            <div id="steps-container">
                <label for="inputSteps" class="form-label">Steps</label>
                <div id="step-fields">
                    <!-- added step fields will go here -->
                </div>
                <button type="button" class="add-recipe-btn" onclick="addStepField()"> <span class="charm--plus"></span> </button>
            </div>
        </div>

        <!-- creating ingredients list and steps list -->
        <script>
            function addIngredientField() 
            {
                var container = document.getElementById("ingredient-fields");
                var newIngredientDiv = document.createElement("div");

                var newIngredientInput = document.createElement("input");
                newIngredientInput.classList.add("new-ingredient-input");
                newIngredientInput.type = "text";
                newIngredientInput.name = "ingredients[]";
                newIngredientInput.placeholder = "Ingredient";
                newIngredientDiv.appendChild(newIngredientInput);
                
                var newAmountLabel = document.createElement("label");
                newAmountLabel.classList.add("new-amount-label");
                newAmountLabel.textContent = ", ";
                newIngredientDiv.appendChild(newAmountLabel);

                var newAmountInput = document.createElement("input");
                newAmountInput.classList.add("new-amount-input");
                newAmountInput.type = "text";
                newAmountInput.name = "amounts[]";
                newAmountInput.placeholder = "Amount (2 cups, 200 grams, ..)";
                newIngredientDiv.appendChild(newAmountInput);

                container.appendChild(newIngredientDiv);
            }

            function addStepField() 
            {
                var container = document.getElementById("step-fields");
                var newInput = document.createElement("textarea");
                newInput.classList.add("new-step-input");
                newInput.name = "steps[]";
                newInput.placeholder = "Step";
                container.appendChild(newInput);
            }
        </script>
        
        <!-- Meal Type -->
        <div class="col-10 normal-forms">
            <label for="inputType" class="form-label">Meal Type</label>
            <select name="meal_type" id="inputType" class="form-select" required>
                <option selected>Choose...</option>
                <option>Breakfast</option>
                <option>Lunch</option>
                <option>Dinner</option>
                <option>Dessert</option>
                <option>Snack</option>
            </select>
        </div>

        <!-- Cook Method -->
        <div class="col-10 normal-forms">
            <label for="inputCook" class="form-label">Cooking Method</label>
            <select name="cook" id="inputCook" class="form-select" required>
                <option selected>Choose...</option>
                <option>Baking</option>
                <option>Cooking</option>
                <option>No-cook</option>
            </select>
        </div>
        
        <!-- upload pic-->
        <div class="col-10 normal-forms">
            <label for="inputPic" class="form-label">Recipe Image</label>
            <input type="file" name="file" class="form-control" autocomplete="off" required>
        </div>
        
        <div class="col-10 text-center">
            <button type="submit" class="submit-btn">Submit Recipe</button>
        </div>
    </form>

{% endblock %}