{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <h2 class="text-center login-title"> Login to your account </h2>
    <form class="login-form" action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control login-input" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control login-input" id="password" name="password" placeholder="Password" type="password">
            <button class="login-btn" type="submit">Log In</button>
        </div>
        
    </form>

{% endblock %}
