{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}

    <p> Create a new account </p>

    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
        </div>
    </form>
    
{% endblock %}
