{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}

    <h2 class="text-center login-title"> Create a New Account </h2>

    <form class="login-form" action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control login-input" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control login-input" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control login-input" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
            <button class="login-btn"  type="submit">Register</button>
        </div>
    </form>
    
{% endblock %}
